.landing {
	height:100vh;
	width:100vw;
  background-color: $grey;
  display: table;
  position: relative;

  .landing-content {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    height: 40vh;
    width: auto;
  }

  p {
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
  }
}