 // Variables for colors etc -----------------------------

$white: #fff;
$black: #222;
$grey: #ddd;

// Font Colors -------------------------------------------

$font-color: #000;
$accent: #3fb0ac;

// Anchor Variables --------------------------------------

$links:  #1EAEDB;
$links-hover:#0FA0CE;

// Navigation --------------------------------------------

$menu-links: #000;
$menu-links-hover: #444;
$dropdown-links: #7d7d7d;
$dropdown-links-hover: #444;

// Typography Variables ----------------------------------

$body-font: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: "Roboto Condensed","Helvetica Neue", Helvetica, Arial, sans-serif;
$blockquote-font: serif;

//html elements  -----------------------------------------

$hr-color: #E1E1E1;

//buttons-------------------------------------------------

$primary-button: #33C3F0;
$primary-button-hover: #1EAEDB;
$primary-button-font-color: #FFF;
$primary-button-font-color-hover: #FFF;