// Media query specific styles


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


// Mobile and desktop nav display options

.mobile-nav {
    display: block;
    background: #333;
    color: #fff;
    padding: 1rem 0;

    h2 {
      font-weight: 300;
      display: inline;

    }
    a {
      margin-top: 1rem;
      color: rgba($white, .8);
      text-decoration: none;

    }
}
.transparent {
	background: transparent;
}
.desktop-nav {
  display: none;
}

@media (min-width: 1000px) {
  
.mobile-nav {
    display: none;
}

.desktop-nav {
  display: block;
  margin-bottom: 6rem;
  }
}
