//Navigation styles

.navbar li a {
  color: #fff;
  text-decoration: none;
  opacity: .8;
  letter-spacing: .1rem;

  &:hover {
  	opacity: 1;
  }

}
.navbar {
  display: none;
  font-family: Lato, 'open sans';
  width: 100%;
  font-weight: 700;
  z-index: 999;

  ul {
    list-style: none;
    padding-left: 0;
    margin:0;
    li {
        display: inline-block;
    }
    a {
      padding:1rem;
    }
  }

  li {
    display: inline;
    position: relative;
    margin-right: 1rem;
    padding:1rem;
  }

  a {
    color: black;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
      color: #fff;
    }
  }
}
.navbar a img {
  height: 4.5rem;
  margin-top: .5rem;
 
    &:hover {
      border-bottom: none;
   
  }
}
.navbar-page {
  display: block;
}
.no-border {
  color: #222;
  &:hover {
    border-bottom: none;
    color: #222;
  }
}
// Dropdown Styles

.navbar li ul {
  position: absolute;
  margin-top: 1rem;
  left: 0;
  z-index: 999;
  background: #444;
  min-width: 100%;
  height: 0px;
  overflow: hidden;
  padding: 0px;
  text-align: center;

  li {
    display: list-item;
    padding: 0 1rem 0 1rem;
    margin-right: 0;
    white-space: nowrap;
    &:hover {
    }
    a {
      line-height: 3.5rem;
      color: #fff;
      display: inline-block;
      padding:0;
      opacity:.7;
      &:hover {
        opacity: 1;
    }
      
    }
  }
}

.navbar ul li:hover ul {
  height: auto;
  overflow: auto;
}

.current-menu-item a {
  opacity:1 !important;
  text-decoration: none;
  display: inline;
}

// WP Main Menu Container Override

.menu-main-menu-container {
  display: inline-block;
}











 

