// nav ––––––––––––––––––––––––––––––

 /*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

a {
  color: $links; }
a:hover {
  color: $links-hover; }

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background:#ddd;

  ul {
    list-style: none;
  }

  li {
    display: inline;
    position: relative;
    margin-right: 2rem;
  }

  a {
    color: $menu-links;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
     color: $menu-links-hover;
    }
  }
}
// Dropdown Styles

.navbar li ul {
  position: absolute;
  z-index: 999;
  margin-top: 0;
  left: 0;
  background: #fff;
  min-width: 100%;
  height: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: left;
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.25);

  li {
    display: list-item;
    padding: 0 2rem 0 1rem;
    margin-right: 0;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    &:hover {
    border-bottom: 1.5px solid #ddd;
    }


    a {
      line-height: 3.5rem;
      color: $dropdown-links;
       display: inline-block;
      &:hover {
        color: $dropdown-links-hover;
    }

    }
  }
}

.navbar ul li:hover ul {
  height: auto;
  overflow: auto;
}

.current-menu-item  {

}

// WP Main Menu Container Override

.menu-main-menu-container {
  display: inline-block;
}

//Alex's super fantastical PWD Nav

.pwd-nav-container {
  position: relative;
  height: 54px;
}

.pwd-nav {
  height: 100%;
  display: block;
}

.pwd-nav-title {
  display: inline-block;
  list-style-type: none;
  margin-top: 14px;
  margin-left: 24px;
  font-size: 1.2em;
}

.pwd-nav-menu {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding-top: 0px;
  margin-right: 24px;
  cursor: pointer;
}

.pwd-nav-items-container {
  margin-top: 0px;
  width: 100vw;
  padding-bottom: 10px;

  ul {
    margin-top: 0px;
    padding-left: 0px;
    ul {
      padding-left: 10px;
    }
  }

  a {
    display: block;
    background: #333;
    padding-left: 24px;
    font-size: 1.2em;
    padding-bottom: 2px;
    padding-top: 2px;
    text-decoration: none;
    width: 100%;
    color: rgba($white, 0.6);

    &:hover {
      color: $white;
    }
  }
}

.pwd-nav-item:hover{
  background-color: #EAEAEA;
}

//end Alex's amazing fantastical PWD Nav

//third level dropdown
.navbar ul li:hover>ul{
  height: auto;
  overflow: visible; 
  }
.navbar li ul li ul {
position: absolute;
left: calc(100% + 1px);
top: 0;
height: 0px;
max-height:0px;
-webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
box-shadow: 1px 2px 4px rgba(0,0,0,0.25);

}
.fixed-nav li ul li ul{
  left:calc(100% + 5px);

}
.navbar li ul li ul li{
  background:rgba($teal, .5);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}
.fixed-nav li ul li ul li{
  background:#fff;
}
.navbar li ul li.menu-item-has-children:hover>a::after {
  content: ">";
  position:absolute;
  right:5px;

}
.navbar li ul li ul li a, .navbar-page li ul li ul li a{
  line-height:2rem;
}